body 
{
	background-color: #4dd2ff;
}

ul li 
{
	display: inline;
	padding: 30px;
	font-size: 20px;
}

ul 
{
	background-color:#b3b3b3;
	padding: 30px;
	text-align: center;
}

p 
{
	font-size: 25px;
	text-align: center;
	border: 3px  ;
}

h1 
{
	background-color:  #b3b3b3;
	text-align: center;
	padding: 25px;
}

iframe 
{
	width: 90%;
	height: 600px;
	margin-left: 6%;
	margin-right: 4%;
}